.container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 300px;
    .cover {
        width: 100%;
        height: 360px;
        background-image: url('../images/bg_user_cover.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;

        .cover_top {
            margin: auto;
            margin-top: 34px;
            width: 1140px;
            display: flex;
            align-items: flex-end;

            .profile {
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 5px solid #ffffff;
                margin-right: 84px;
            }

            .user_sign {
                color: #ffffff;

                .title {
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .sign_msg {
                    width: 500px;
                    height: 40px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
            }
        }

        .cover_bottom {
            margin: auto;
            width: 1140px;
            display: flex;
            align-items: center;
            margin-top: 10px;

            .user_left {
                width: 150px;
                color: #ffffff;
                text-align: center;
                flex-shrink: 0;
                margin-right: 84px;
                padding: 0 5px;

                .user_name {
                    display: flex;
                    align-items: center;
                    font-size: 28px;
                    margin-bottom: 10px;

                    i {
                        width: 26px;
                        height: 26px;
                        display: block;
                        background-image: url('../images/icon_tr.png');
                        margin-left: 6px
                    }
                }

                .user_title {
                    font-size: 16px;
                    margin-bottom: 25px;
                }

                .user_hot {
                    display: flex;
                    align-items: center;

                    .line {
                        width: 1px;
                        height: 45px;
                        background: #ffffff;
                    }

                    .fins,
                    .focus {
                        text-align: center;

                        p:first-child {
                            font-size: 18px;
                            margin-bottom: 5px;
                        }

                        p:last-child {
                            font-size: 14px;
                        }
                    }

                    .fins {
                        margin-right: 30px;
                    }

                    .focus {
                        margin-left: 30px;
                    }
                }
            }

            .user_right {
                color: #ffffff;

                .title {
                    font-size: 18px;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .msg {
                    width: 500px;
                    height: 70px;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }
    }

    .content {
        width: 1140px;
        margin: auto;
        margin-top: 30px;

        .content_nav {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .nav_item {
                width: 120px;
                height: 34px;
                line-height: 34px;
                margin-right: 10px;
                border-radius: 17px;
                color: #909090;
                text-align: center;
                font-size: 16px;
        
                &:last-child {
                    margin: 0
                }

                &.first {
                    background: linear-gradient(90deg, rgba(39, 89, 255, 1) 0%, rgba(39, 130, 255, 1) 100%);
                    color: #ffffff
                }

                &.second {
                    background: rgba(211, 222, 255, 1);
                }
            }
        }
        .content_box {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .course_item {
                width: 270px;
                margin-right: 20px;
                width: 270px;
                height: 260px;
                background: #ffffff;
                border: 1px solid rgba(237, 237, 237, 1);
                border-radius: 6px;
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 20px;
                transition: all .5s;
                &:hover {
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    transform: translateY(-5px)
                }

                &:nth-child(4) {
                    margin-right: 0 
                }

                .cover {
                    width: 250px;
                    height: 150px;
                    background: rgba(237, 237, 237, 1);
                    opacity: 1;
                    border-radius: 6px;
                    margin-bottom: 10px
                }
                .title{
                    width: 100%;
                    height: 46px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    font-size:16px;
                    margin-bottom: 10px;
                }
                .bottom{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price{
                        color: #FF3636;
                        font-size:18px;
                        span{
                            font-size:12px;
                        }
                        &.free{
                            color: #33C638;
                        }
                    }
                    .num{
                        display: flex;
                        align-items: center;
                        font-size:10px;
                        color: #2759FF;
                        i{
                            width: 10px;
                            height: 12px;
                            background-image: url('../images/icon_pr.png');
                            margin-right: 2px
                        }
                    }
                }
            }
        }
      
    }
}